

:root {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-color: rgb(214, 226, 241);
    --backgroundColor: rgb(214, 226, 241);
    --smokey: rgb(44, 44, 44);
    --lighterblue:  rgb(129, 219, 231);
    --fontcolor: rgb(47, 67, 88);
}



header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 20px 20px 0px;
    background-color: var(--smokey);
    color: var(--smokey);
}

header h1 {
    /* display: inline; */
    font-size: 42px;
    text-align: center;
    background-color: var(--lighterblue);
    padding: 10px 10px 10px 50px;
}

.navigation {
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
    margin-top: 20px;
    margin-right: 2%;
    margin-left: 6%;
    font-size: 16px;
    text-align: center;
    color: var(--fontcolor);
}

a {
    text-decoration: none;
    padding: 3px;
    border-width: 4px;
    border-style: none none solid none;
    border-color: var(--lighterblue);
}

a:visited {
    color: var(--lighterblue);
}

.navigation ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.navigation ul li {
    color: var(--lighterblue);
    margin-left: 15px;
}

.coverPhoto {
    position: relative;
    text-align: center;
    background-color: rgb(64, 120, 180);
    background-blend-mode: multiply;
}

.subtitle-text {
    position: absolute;
    top: 200px;
    right: 10%;
    font-size: 32px;
    background-color: var(--lighterblue);
    color: var(--smokey);
    padding: 10px;
}

.block {
    display: flex;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 2%;
}


.block h1{
    font-size: 42px;
    color: var(--fontcolor);
    padding: 10px;
    text-align: right;
    border-style: none solid none none;
    border-right-color: var(--fontcolor);
    border-width: 3px;
}

.block p {
    margin-left: 20px;
    color: var(--fontcolor);
}

#work {
    margin-left: 115px;
}

#contact-me {
    margin-left: 65px;
}













@media screen and (max-width: 768px) {
   
    .block {
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
    }

    .block h1 {
        text-align: center;
        border-style: none none solid none;
        margin-bottom: 20px;
    }

    .block p {
        text-align: center;
    }

    #work {
        margin-left: 10px;
    }

    #contact-me {
        margin-left: 10px;
    }

    .navigation {
        margin: 20px auto auto auto;
        font-size: 75%;
    }

}
  
  
@media screen and (max-width: 992px) {


}
